*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #8a1717;
}

header {
    background-color: #a11515;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

h1,
h2 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: #ececec;
}

h2 {
    font-size: 32px;
}

.buttons-container {
    padding: 40px;
    background-color: rgb(145, 32, 32);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons-container .buttons button {
    border: none;
    padding: 30px 40px;
    background-color: #8a1717;
    cursor: pointer;
    font-size: 22px;
    font-weight: 1000;
    color: #ececec;
    border-radius: 99px;
    transition: all 0.15s ease-in-out;
}

.buttons-container .buttons button:hover{
    background-color: #ececec;
    color: #8a1717;
}

.buttons-container .buttons{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;

    font-size: 24px;
    font-weight: 800;
    color: #e0e0e0;
}


@media screen and (max-width: 550px) {
  .buttons-container .buttons{
    flex-direction: column;
  }
}